.navbar {
  margin-bottom: 20px;
  border-radius: 0px 0px 50px 50px;
}

footer {
  background-color: #5ebe7eb0;
  padding: 15px;
  border-radius: 64px 64px 0px 0px;;

}

.cuerposedes {
  background-color: #5ebe7eb0;
  padding: 15px;
  border-radius: 70px;

}

.cuerpoinicio {
  padding: 10px; 
  background-color: #e6eee8a6;

  }

.cuerpovision {
  padding: 10px; 
  text-align: center;
  }

  .jumbotron{
  background-color: #5ebe7eb0;
  padding: 15px;
  position: relative;
  border-radius: 70px;
  }
  
  .logo{
    width: 65px;
    height: 65px;
    border-radius: 0px 0px 50px 50px;
  }

  .login{
    width: 150px;
    height: 150px;
    border-radius: 50px 50px 50px 50px;
    display:block;
    margin:auto;
  }

  .loginCard{
    background-color: #5ebe7eb0;
    border-radius: 80px 20px;
    display:block;
    margin:auto;
  }

  .botonLogin{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ad1d1d;
    background-color: #9ca6ac;
    border-radius: 6px;
    border: 2px solid #555a7e;
  }
