<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <img class="logo img-fluid" src="./img/logo.png " alt="logo_ferrerusos">
    <h2><a class="navbar-brand " href="./Inicio.html">Veterinaria Ferrerusos</a></h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Citas medicas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./Baño.html">Baño</a>
                    <a class="dropdown-item" href="./Ecografia.html">Ecografia</a>
                    <a class="dropdown-item" href="./Desempulgue.html">Desempulgue</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Quienes somos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./Mision.html">Mision</a>
                    <a class="dropdown-item" href="./Vision.html">Vision</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./Sedes.html">Sedes</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="./Contactenos.html" tabindex="-1">Contactenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Login.html" tabindex="-1">log-in</a>
            </li>

        </ul>

    </div>
</nav>