<dt>
    <footer class="container-sm text-center ">
        <p>
            Veterinaria ferrerusos <br>
            Calle 123 Siempre viva <br>
            Telefono 321456987 - Celular 3133321456978
        </p>
    </footer>
</dt>